* {
  font-family: "Comic Sans MS", Arial, sans-serif;
}

body {
  background-color: #FFB9F27D;
}

p {
  padding-left: 3px;
}

.bar {
  border-style: groove;
  border-color: #fffafa;
  background: #60B0B0;
  display: flex;
  border-width: 10px;
}

.title {
  padding-left: 10px;
  padding-right: 5px;
}

.textBlock {
  text-align: center;
  border-style: dotted;
  border-width: 2px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.textBox {
  border-style: dotted;
  padding-right: 7px;
  width: 100%;
}

.textBox > h3{
  text-align: center;
}

.textBox > h4{
  padding-left: 10px;
}

.innerBlock {
  border-style: dashed;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.list {
  display: inline-block;
  text-align: left;
}

.varList {
  border-style: dashed;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 7px;
}

#languageBox {
  background-color: #60B0B0;
  border-style: none;
  height: 50px;
  width: 75px;
}

#phoneNumber {
  text-align: center;
  border-style: dashed;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 2px;
  padding-bottom: 2px;
}

#boxDiv {
  margin-left: auto;
}

#logo {
  display: flex;
  border-style: solid;
  border-width: 3px;
}

#pigture{
  width: 107px;
  height: 63px;
  padding-top: 10px;
  padding-left: 5px;
}

#intro {
  display: flex;
  margin-bottom: 20px;
}

#powerList {
  border-style: double;
  border-width: 2px;
}

#footer {
  margin-top: 30px;
  height: 75px;
}